.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

 .btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 40px;
  outline: 1px  #ec008c;
  border-radius: 28px;
    background-image: linear-gradient(to right top, #781ad5, #662ed7, #523bd8, #3c44d7, #1f4bd5);
  color: white;
  font-size: 18px;
  cursor: pointer;
  }